* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  height: 25vh;
  background-color: #294969;
  color: ghostwhite;
  padding: 10px 15px;
  border: 12px solid orange;
  border-bottom: 12px solid #995400;
  margin: 0px
}
section {
  min-height: 100vh;
  padding: 1rem;
  border-bottom: 2px dotted #666;
  background-color: azure;
}
.hide {
  display: none;
}
article, aside {
  margin: 12px;
}
aside img, #bio {
  width: 100%;
  max-width: 600px;
}
#bio {
  padding: 2rem;
  border: 5px solid tomato;
  background-color: mistyrose;
}
footer {
  width: 200px;
  padding: 4px;
  border: 2 solid #ffa949;
  margin: 30px 0 15px;
  color: #294969;
  font-size: .8rem;
  text-align: center;
}
ul li {
  display: inline-block;
  width: 30%;
  padding: 10px 0;
  background-color: yellow;
  text-align: center;
}